<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Coffee Stars</title>
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Coffee Shop</h1>
		<hr>
		<h2>Add Coffee</h2>
		<form action="#" th:action="@{/saveCoffee}" th:object="${coffee}" method="POST">
			<input type="text" th:field="*{name}" placeholder="Coffee Type" class="form-control mb-4 col-4">
			<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Coffee Type Error</div>
			<input type="text" th:field="*{price}" placeholder="Coffee Price" class="form-control mb-4 col-4">
			<div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Coffee Price Error</div>
			<input type="text" th:field="*{description}" placeholder="Coffee Description" class="form-control mb-4 col-4">
			<div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Coffee Description Error</div>
			<button type="submit" class="btn btn-info col-2">Add Coffee</button>
		</form>
		<hr>
		<a th:href = "@{/}"> Back to Beverage List</a>
	</div>
</body>
</html>